Repository tbrlpld/laces: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, blacken-docs, isort, flake8, mypy

.pre-commit-config.yaml:

ci:
  autofix_prs: false

default_language_version:
  python: python3

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-json
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-toml
      - id: check-yaml
        args: ['--unsafe']
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: local
    hooks:
      - id: black
        name: black
        entry: black
        language: system
        types: [python]
      - id: blacken-docs
        name: blacken-docs
        entry: blacken-docs
        language: system
        files: '\.(rst|md|markdown|py|tex)$'
      - id: isort
        name: isort
        entry: isort
        language: system
        types: [python]
      - id: flake8
        name: flake8
        entry: flake8
        language: system
        types: [python]
      - id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [python]

Fix grammar and typos in README
  README.md
Due: blacken-docs

Bump pre-commit GitHub action
  .github/workflows/test.yml
Due: none

Use online link to CHANGELOG
  .github/pull_request_template.md
Due: blacken-docs

Update changelog
  CHANGELOG.md
Due: blacken-docs

Make release instructions more visible
  README.md
Due: blacken-docs

Bump version number in __init__.py
  laces/__init__.py
Due: black, blacken-docs, isort, flake8, mypy

Update publishing instructions
  README.md
Due: blacken-docs

Update version for development
  laces/__init__.py
Due: black, blacken-docs, isort, flake8, mypy

Update to use shield.io for license and pypi
  README.md
Due: blacken-docs

Add comment where to find classifiers
  pyproject.toml
Due: none

Make parent_context argument to get_context_data optional
  laces/components.py
  laces/test/example/components.py
  laces/tests/test_components.py
Due: black, blacken-docs, isort, flake8, mypy

Remove the default setting of parent_context=Context from render_html
  laces/components.py
Due: black, blacken-docs, isort, flake8, mypy

Add Wagtail compatibitliy check to PR template
  .github/pull_request_template.md
Due: blacken-docs

Add README update check to PR template
  .github/pull_request_template.md
Due: blacken-docs

Update README
  README.md
Due: blacken-docs

Cover all branches
  laces/test/example/components.py
  laces/test/tests/test_components.py
Due: black, blacken-docs, isort, flake8, mypy

Comment out the raising of the error
  laces/components.py
Due: black, blacken-docs, isort, flake8, mypy

Test with test client
  laces/test/tests/test_views.py
  laces/test/urls.py
Due: black, blacken-docs, isort, flake8, mypy

Add some dummy test to use ComponentReponse in
  laces/test/example/views.py
  laces/test/tests/test_views.py
  laces/test/urls.py
Due: black, blacken-docs, isort, flake8, mypy

Create a reference test view that renders a top level component
  laces/test/example/templates/pages/single-component.html
  laces/test/example/views.py
  laces/test/tests/test_views.py
  laces/test/urls.py
Due: black, blacken-docs, isort, flake8, mypy

Add comparison test
  laces/test/tests/test_views.py
Due: black, blacken-docs, isort, flake8, mypy

Add rough setup for a components serve view
  laces/test/tests/test_views.py
  laces/test/urls.py
  laces/urls.py
  laces/views.py
Due: black, blacken-docs, isort, flake8, mypy

Implement basic registration an lookup of servable components
  laces/components.py
  laces/test/example/components.py
  laces/test/tests/test_views.py
  laces/views.py
Due: black, blacken-docs, isort, flake8, mypy

Rename registration function
  laces/components.py
  laces/test/example/components.py
Due: black, blacken-docs, isort, flake8, mypy

Add section on "Laces and Wagtail"
  README.md
Due: blacken-docs

Turn reference into link
  CHANGELOG.md
Due: blacken-docs

Fix typos
  README.md
Due: blacken-docs

Test component with initializer arguments
  laces/test/example/components.py
  laces/test/tests/test_views.py
Due: black, blacken-docs, isort, flake8, mypy

Add request GET parameters as kwargs to constructor
  laces/views.py
Due: black, blacken-docs, isort, flake8, mypy

BadRequest response for too many/few arguments to default constructor
  laces/test/tests/test_views.py
  laces/views.py
Due: black, blacken-docs, isort, flake8, mypy

Wrong type argument
  laces/test/example/components.py
  laces/test/tests/test_views.py
Due: black, blacken-docs, isort, flake8, mypy

Add test for comopnent with custom exception in init
  laces/test/example/components.py
  laces/test/tests/test_views.py
Due: black, blacken-docs, isort, flake8, mypy

Bootstraps aren't shoelaces
  README.md
Due: blacken-docs

Improve readabililty
  README.md
Due: blacken-docs

Don't end sentence with colon if not necessary
  README.md
Due: blacken-docs

Fix typo
  README.md
Due: blacken-docs

Add emoji
  README.md
Due: blacken-docs

Update ID in TOC
  README.md
Due: blacken-docs
