Repository tbrlpld/laces: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, blacken-docs, isort, flake8, mypy

black:
  name: black
  entry: black
  language: system

blacken-docs:
  name: blacken-docs
  entry: blacken-docs
  language: system

isort:
  name: isort
  entry: isort
  language: system

flake8:
  name: flake8
  entry: flake8
  language: system

mypy:
  name: mypy
  entry: mypy
  language: system

Make any exception during init return bad request
  laces/views.py
Due: black, blacken-docs, isort, flake8, mypy

Create first test for the from request constructor
  laces/components.py
  laces/tests/test_components.py
Due: black, blacken-docs, isort, flake8, mypy

Move the argument extraction from view to constructor
  laces/components.py
  laces/views.py
Due: black, blacken-docs, isort, flake8, mypy

Add tests for other class and request data combinations
  laces/tests/test_components.py
Due: black, blacken-docs, isort, flake8, mypy

Add method docstring
  laces/components.py
Due: black, blacken-docs, isort, flake8, mypy

Update the test with get_context_data returning None
  laces/tests/test_components.py
Due: black, blacken-docs, isort, flake8, mypy

Remove unused explicit raising of error
  laces/components.py
Due: black, blacken-docs, isort, flake8, mypy

Update changelog
  CHANGELOG.md
Due: blacken-docs

Slight rewording of test docstring
  laces/tests/test_components.py
Due: black, blacken-docs, isort, flake8, mypy

Add more project URLs
  pyproject.toml
Due: none

Update authors and maintainers
  pyproject.toml
Due: none

Add keywords
  pyproject.toml
Due: none

Remove license key
  pyproject.toml
Due: none

Update changlog
  CHANGELOG.md
Due: blacken-docs

Order authors alphabetically
  pyproject.toml
Due: none

Update version number
  laces/__init__.py
Due: black, blacken-docs, isort, flake8, mypy

Back to dev
  CHANGELOG.md
  laces/__init__.py
Due: black, blacken-docs, isort, flake8, mypy

Test media container member without media prop
  laces/tests/test_components.py
Due: black, blacken-docs, isort, flake8, mypy

Only merge members with media prop
  laces/components.py
Due: black, blacken-docs, isort, flake8, mypy

Add get_template_name method to return the template name prop
  laces/components.py
  laces/tests/test_components.py
Due: black, blacken-docs, isort, flake8, mypy

Add docstring to new get_template_name method
  laces/components.py
Due: black, blacken-docs, isort, flake8, mypy

Add method to return template object
  laces/components.py
Due: black, blacken-docs, isort, flake8, mypy

Add option to render component via `template_string`
  laces/components.py
  laces/tests/test_components.py
Due: black, blacken-docs, isort, flake8, mypy

Import correct type instead of casting wrong
  laces/components.py
Due: black, blacken-docs, isort, flake8, mypy

Update docstring and comment
  laces/components.py
Due: black, blacken-docs, isort, flake8, mypy

Add Django Packages badge to README
  README.md
Due: blacken-docs

Run nightly Django main test with Python 3.13
  .github/workflows/nightly.yml
Due: none

Update tox matrix to officially supported Django and Python versions
  tox.ini
Due: none

Update support classifiers
  pyproject.toml
Due: none

Bump Python version for publishing flow
  .github/workflows/publish.yml
Due: none

Update Python versions in test workflow
  .github/workflows/test.yml
Due: none

Remove the nightly build failure Slack webhook
  .github/scripts/report_nightly_build_failure.py
  .github/workflows/nightly.yml
Due: black, blacken-docs, isort, flake8, mypy

Only use format_html when providing variables
  README.md
  laces/test/example/components.py
  laces/tests/test_templatetags/test_laces.py
Due: black, blacken-docs, isort, flake8, mypy

fixup! Remove the nightly build failure Slack webhook
  .github/workflows/nightly.yml
Due: none

Remove conditional setting for unsupported Django version
  laces/test/settings.py
Due: black, blacken-docs, isort, flake8, mypy

Path conditions:
  black: any of: \.py$
  blacken-docs: any of: \.(rst|md|markdown|py|tex)$
  isort: any of: \.py$
  flake8: any of: \.py$
  mypy: any of: \.py$
